APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:jZwtbu4jKD8PPOPqn3H32RAK3ygru/sK9QU3ZYISBQE=
APP_DEBUG=true
APP_URL=http://localhost

# Banco principal
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=legotech
DB_USERNAME=legotech
DB_PASSWORD="05092004"

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

CACHE_STORE=database
QUEUE_CONNECTION=database

VITE_APP_NAME="${APP_NAME}"
APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:jZwtbu4jKD8PPOPqn3H32RAK3ygru/sK9QU3ZYISBQE=
APP_DEBUG=true
APP_URL=http://localhost

# Banco principal
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=legotech
DB_USERNAME=legotech
DB_PASSWORD=05092004

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

CACHE_STORE=database
QUEUE_CONNECTION=database

VITE_APP_NAME="${APP_NAME}"
